<a href="https://colab.research.google.com/github/Lustiyana/Visualisasi-Data-Education-of-Indonesia-Kelompok-1/blob/main/Visualisasi_Data_Kelompok_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [46]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [24]:
data = 'Pendidikan-Indonesia.xlsx'
df = pd.read_excel(data, sheet_name='Sheet1')

In [25]:
df.shape

(238, 7)

In [26]:
df.head()

,Tahun,Province,Tingkat Penyelesaian SD,Tingkat Penyelesaian SMP,Tingkat Penyelesaian SMA,Melek Huruf Perempuan,Melek Huruf Laki-laki
0,2015,Aceh,96.47,89.01,68.16,96.528616,97.628300
1,2015,Sumatera Utara,92.76,80.87,59.54,98.043006,98.675355
2,2015,Sumatera Barat,87.85,78.77,58.04,97.852140,98.558061
3,2015,Riau,90.44,76.54,57.28,98.155519,98.870495
4,2015,Jambi,93.12,78.04,49.05,96.754726,97.840725

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Tahun                     238 non-null    int64
 1   Province                  238 non-null    object
 2   Tingkat Penyelesaian SD   238 non-null    float64
 3   Tingkat Penyelesaian SMP  238 non-null    float64
 4   Tingkat Penyelesaian SMA  238 non-null    float64
 5   Melek Huruf Perempuan     238 non-null    float64
 6   Melek Huruf Laki-laki     238 non-null    float64
dtypes: float64(5), int64(1), object(1)
memory usage: 13.1+ KB

In [28]:
df.isnull().sum()

Tahun                       0
Province                    0
Tingkat Penyelesaian SD     0
Tingkat Penyelesaian SMP    0
Tingkat Penyelesaian SMA    0
Melek Huruf Perempuan       0
Melek Huruf Laki-laki       0
dtype: int64

In [29]:
df.describe()

,Tahun,Tingkat Penyelesaian SD,Tingkat Penyelesaian SMP,Tingkat Penyelesaian SMA,Melek Huruf Perempuan,Melek Huruf Laki-laki
count,238.000000,238.000000,238.000000,238.000000,238.000000,238.000000
mean,2018.000000,93.516303,83.631008,60.564832,94.769634,96.058513
std,2.004215,5.209144,7.295919,11.517124,5.702004,4.628834
min,2015.000000,62.340000,50.570000,27.440000,64.602101,70.831909
25%,2016.000000,92.162500,80.610000,54.180000,91.993199,94.021061
50%,2018.000000,95.140000,85.045000,60.900000,96.985107,97.941888
75%,2020.000000,96.477500,88.180000,67.555000,98.411406,98.786519
max,2021.000000,99.440000,95.340000,90.120000,99.915909,99.872022

In [30]:
tahun = df['Tahun'].unique()
print("Tahun yang tersedia",tahun)
print("Banyaknya tahun", len(tahun))

Tahun yang tersedia [2015 2016 2017 2018 2019 2020 2021]
Banyaknya tahun 7

In [31]:
df.drop(['Tahun'], axis=1, inplace=True)

In [32]:
df.head()

,Province,Tingkat Penyelesaian SD,Tingkat Penyelesaian SMP,Tingkat Penyelesaian SMA,Melek Huruf Perempuan,Melek Huruf Laki-laki
0,Aceh,96.47,89.01,68.16,96.528616,97.628300
1,Sumatera Utara,92.76,80.87,59.54,98.043006,98.675355
2,Sumatera Barat,87.85,78.77,58.04,97.852140,98.558061
3,Riau,90.44,76.54,57.28,98.155519,98.870495
4,Jambi,93.12,78.04,49.05,96.754726,97.840725

In [41]:
X = df
y = df['Province']

In [43]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
X['Province'] = le.fit_transform(X['Province'])
y = le.transform(y)

In [44]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Province                  238 non-null    int64
 1   Tingkat Penyelesaian SD   238 non-null    float64
 2   Tingkat Penyelesaian SMP  238 non-null    float64
 3   Tingkat Penyelesaian SMA  238 non-null    float64
 4   Melek Huruf Perempuan     238 non-null    float64
 5   Melek Huruf Laki-laki     238 non-null    float64
dtypes: float64(5), int64(1)
memory usage: 11.3 KB

In [45]:
X.head()

,Province,Tingkat Penyelesaian SD,Tingkat Penyelesaian SMP,Tingkat Penyelesaian SMA,Melek Huruf Perempuan,Melek Huruf Laki-laki
0,0,96.47,89.01,68.16,96.528616,97.628300
1,33,92.76,80.87,59.54,98.043006,98.675355
2,31,87.85,78.77,58.04,97.852140,98.558061
3,25,90.44,76.54,57.28,98.155519,98.870495
4,7,93.12,78.04,49.05,96.754726,97.840725